<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>UserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadDoc</servlet-name>
        <servlet-class>uploadDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/UserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadDoc</servlet-name>
        <url-pattern>/uploadDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
